body{
    font-family: 'Alice', serif;
    margin: 0 auto;
}
.flexibility{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.half-devide{
    width: 100%;
    padding-top: 10%;
}
.half-devide img{
    width: 100%;
    padding: 10%;
}
.heading-color{
    color: rgb(204, 117, 18);
}
.heading-border{
    border-left: 5px solid;
}
footer{
    background-color: black;
    color: blanchedalmond;
}